<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steem</title>
    <link rel="shortcut icon" href="../Grundaufbau/img/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <script type="module" src="js/search.js" defer></script>
</head>
<body>
    <header>
        <h1>Startseite</h1>
    </header>
    <main>
        <h2>Willkommen auf Steem</h2>
        <h3>Für dich empfohlen</h3>
        <div class="recommended">
            <div class="recommendation"></div>
            <div class="recommendation"></div>
            <div class="recommendation"></div>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
        </p>
    </main>
    <footer>
        <a class="logo-container" href="index.html">
            <img src="../Grundaufbau/img/logo.svg" alt="Logo" class="logo-blue logo">
        </a>
        <div class="search-bar-container">
            <label for="searchbar"></label>
            <ul class="results"><li>1</li><li>2</li></ul>
            <label for="searchbar"></label><input type="search" name="searchbar" id="searchbar" placeholder="Search">
        </div>
    </footer>
</body>
</html>