body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#green {
    background: #41ca41;
    height: 100%;
    width: 100%;
}

#blue {
    background: #4040df;
    height: 80%;
    width: 80%;
}

#red {
    background: #da2727;
    height: 60%;
    width: 60%;
}

#yellow {
    background: #cfcf46;
    height: 40%;
    width: 40%;
}