@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue: #666A86;
    --black: #131515;
    --white: #E5E7E6;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, html {
    background-color: var(--black);
    height: 100%;
    margin: 0;
    list-style: none;
    width: 100vw;
    overflow-x: hidden;
}

a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    position: fixed;
    height: 10%;
    min-height: 75px;
    max-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    top: 0;
    left: 0;
}

footer {
    bottom: 0;
    left: 0;
}

.logo {
    height: 100%;
}

.logo-container {
    height: 100%;
}

.logo-blue {
    filter: invert(36%) sepia(52%) saturate(1266%) hue-rotate(196deg) brightness(86%) contrast(85%);
}

.logo-white {
    filter: invert(97%) sepia(5%) saturate(45%) hue-rotate(97deg) brightness(99%) contrast(86%);
}

.logo-black {
    filter: invert(3%) sepia(3%) saturate(2671%) hue-rotate(131deg) brightness(101%) contrast(89%);
}

#searchbar {
    background-color: var(--black);
    color: var(--white);
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    padding: 2%;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
}

header {
    position: relative;
}

main {
    width: fit-content;
    margin: 0 auto 10% auto;
    color: var(--white);
    max-width: 1200px;
}

.recommendation {
    height: calc(100% - 50px);
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommendation-info {
    background-color: var(--blue);
    height: 75px;
    min-height: fit-content;
    width: 200px;
    text-align: center;
}

.recommendation-info > b {
    display: block;
}

.recommendation-img-wrapper {
    height: 300px;
    width: 200px;
    overflow: hidden;
}

.recommendation-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#searchbar::placeholder {
    color: var(--white);
    opacity: 1;
}

.search-bar-container {
    height: 50%;
    width: 250px;
}

.card {
    height: 300px;
    width: 200px;
    background-color: var(--blue);
}

.grid {
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px
}

.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.slides-container {
    height: 375px;
    min-height: fit-content;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

.slides-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
}


.results {
    display: none;
    list-style: none;
    background-color: var(--white);
    color: var(--black);
    border-radius: 8px;
    width: calc(250px - 40px);
    box-shadow: 0 0 6px 6px rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 0;
    margin-bottom: 10%;
}

.results li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.results a{
    display: block;
    color: var(--black);
    height: 100%;
    width: 100%;
}

.form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.form-group input:not(input[type="radio"]), .form-group select, .form-group input[type="email"] {
    width: 150px;
}

input, select {
    color: var(--black);
    background-color: var(--white);
    border-radius: 10px;
    padding: 2px 2px 2px 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: var(--white);
    opacity: 0.5;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
}

button[type="submit"]:hover {
    opacity: 1;
}

.account {
    height: 100%;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.new-video {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    body, html {
        font-size: 16px;
    }

    .grid {
        grid-template-columns: auto;
    }

    .form-group {
        flex-direction: column;
    }

    main {
        height: max-content;
        padding-bottom: 15%;
    }

    .recommendation {
        flex: 0 0 200px;
        margin: 0 20px;
    }

    .slide-arrow {
        display: none;
    }

    .slides-container {
        scrollbar-width: auto;
        -ms-overflow-style: auto;
        margin: auto;
        width: 400px;
        overflow: auto;
    }

    p {
        max-width: 400px;
        margin-left: 1%;
    }

    .slides-container::-webkit-scrollbar {
        width: auto;
        height: auto;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        min-height: max-content;
        position: relative;
        overflow: visible;
        width: 95%;
        padding: 5% 0 10% 0;
        margin: auto;
    }

    .logo-container {
        height: 50px;
        padding: 0;
        margin-left: 16px;
    }

    .employee-container {
        max-width: 50%;
        margin-bottom: 50px;
    }

    body > main:nth-child(2) > p:nth-child(9) {
        max-width: 400px;
        margin-left: 1%;
    }

    .links {
        margin-top: 10px;
    }

    .employee-image {
        max-width: 50%;
        object-fit: cover;
    }

    .employee-info {
        text-align: left !important;
    }
}